@media screen and (max-width: 700px) {
    header .container {
        display: flex;
        flex-direction: column;
    }

    .btn {
        margin-top: 5px;
        width: 250px;
    }
    
    .btn-secondary {
        margin-top: 5px;
        width: 250px;
    }
}

@media screen and (max-width: 600px) {
    .main-movie {
        height: 500px;
    }
}

@media screen and (min-width: 1000px){
    .main-movie {
        height: 500px;
    }
    .description {
        width: 70%;
    }
}